*.pyc
*.pyo
*.py~
*.py.bak
old.*
.*
*.patch
*.diff
*.orig
*.swp
*.out
ext/*
/exp/
/experiments/
/pox/
/betta/
/betta
/pox
pox/lib/pxpcap/pxpcap_c/build
pox/lib/pxpcap/pxpcap_c/WpdPack
pypy/
config/20*.py
config/*final.py
input_traces/20*.trace
input_traces/20*.trace.unacked
input_traces/*final.trace
input_traces/20*.final.unacked
dataplane_traces/20*.trace
sts/headerspace/hassel-c/tfs/sts/*tf
sts/headerspace/hassel-c/data/*
sts/headerspace/hassel-c/build/*
sts/headerspace/hassel-c/gen
sts/headerspace/hassel-c/sts
sts/headerspace/hassel-c/i2
sts/headerspace/hassel-c/stanford
sts/headerspace/hassel-c/test
sts/headerspace/hassel-c/hs-test
runtime_stats/*json
runtime_stats/*pdf
runtime_stats/*gpi
runtime_stats/*dat
docs/_build/doctrees/*

# Controllers
nox/
nox_classic/
floodlight/

# ignore eclipse project files
.pydevproject
.project

# ignore ctags file
tags

# ignore  mcs log
mcs_log.txt

