*.pyc
*.pyo
*.py~
*.py.bak
old.*
.*
*.patch
*.diff
*.orig
*.swp
ext/*
pox/
pox/lib/pxpcap/pxpcap_c/build
pox/lib/pxpcap/pxpcap_c/WpdPack
pypy/
config/20*.py
input_traces/20*.trace
dataplane_traces/20*.trace
headerspace/hassel-c/tfs/*tf
headerspace/hassel-c/data/*
headerspace/hassel-c/build/*
headerspace/hassel-c/gen
headerspace/hassel-c/sts

# ignore eclipse project files
.pydevproject
.project

# ignore ctags file
tags
