<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{page.description}}">
        <meta name="author" content="Colin Scott">
        <meta name="keywords" content="Colin Scott, Berkeley, UW, Computer Science,
        SDN, software-defined networks, troubleshooting, reverse traceroute, Scott
        Shenker">
        <title>{{ page.title }}</title>

        <!-- Le styles -->
        <link href="./assets/css/bootstrap.css" rel="stylesheet">
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>
        <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29849261-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="http://cryptm.org/~hpb/images/C.favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <body>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="./index.html">Colin Scott</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <!-- These conditionals are super ugly. See
                https://github.com/shopify/liquid/wiki/liquid-for-designers
                to figure out a better way to do this.
                -->
                {% if page.navbar == "index" %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                  <a href="./index.html">Home</a>
                </li>
                {% if page.navbar == "about" %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                  <a href="./about.html">About</a>
                </li>
                {% if page.navbar == "contact" %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                  <a href="./contact.html">Contact</a>
                </li>
                {% if page.navbar == "publications" %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                  <a href="./publications.html">Publications</a>
                </li>
                <li>
                  <a href="http://colin-scott.github.com/">Blog</a>
                </li>
                {% if page.navbar == "life" %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                  <a href="./life.html">Life</a>
                </li>
                <li>
                  <a href="http://colin-scott.github.com/music">Music</a>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <div class="container">
        {{ content }}
      </div> <!-- /container -->

      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="./assets/js/jquery.js"></script>
      <script src="./assets/js/bootstrap-transition.js"></script>
      <script src="./assets/js/bootstrap-alert.js"></script>
      <script src="./assets/js/bootstrap-modal.js"></script>
      <script src="./assets/js/bootstrap-dropdown.js"></script>
      <script src="./assets/js/bootstrap-scrollspy.js"></script>
      <script src="./assets/js/bootstrap-tab.js"></script>
      <script src="./assets/js/bootstrap-tooltip.js"></script>
      <script src="./assets/js/bootstrap-popover.js"></script>
      <script src="./assets/js/bootstrap-button.js"></script>
      <script src="./assets/js/bootstrap-collapse.js"></script>
      <script src="./assets/js/bootstrap-carousel.js"></script>
      <script src="./assets/js/bootstrap-typeahead.js"></script>
    </body>
</html>
